<div class="free-ConsultSec sec-padding fullwidth sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="free-ConsultInner fullwidth">
			<div class="free-ConsultCls text-center fullwidth">
				<div class="free-ConsClsImage">
					{% if module.image.src %}
					{% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
					{% if module.image.size_type == 'auto' %}
					{% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}" style="max-width: 100%; height: auto;"' %}
					{% elif module.image.size_type == 'auto_custom_max' %}
					{% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}" style="max-width: 100%; height: auto;"' %}
					{% endif %}
					{% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
					<img src="{{ module.image.src }}" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
				  {% endif %}
				</div>
					<h2>
						{{ module.title }}
					</h2>
				<div class="free-ConsClstxt">
					{{ module.tex }}
				</div>
				{% for item in module.button_group %}
				<div class="free-ConsClsbtn {{ item.button_options }}">
					{% set href = item.button_link.url.href %}
					{% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
					{% set href = "mailto:" + href %}
					{% endif %}
					<a href="{{ href }}"
						{% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
						{% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
						>
						{{ item.button_text }}
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	#hs_cos_wrapper_{{ name }} .free-ConsultCls h2{ color: rgba({{ module.title_color.color|convert_rgb }},{{ module.title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .free-ConsClstxt { color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); }
	
	
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>