<div class="ourProjects fullwidth sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		{# <div class="secTitle fullwidth text-center">
			{% if module.title %}<h2>{{ module.title }}</h2>{% endif %}
			{% if module.text %}
				<div class="secText fullwidth">
					{{ module.text }}
				</div>
			{% endif %}
		</div> #}
		<div class="fullwidth ourProjectHeader smpHeader {% if module.header_text_center %} text-center {% endif %}">
				{% if module.sub_title %}
				<h6> {{ module.sub_title }} </h6>
				{% endif %}
				
				{% if module.title %}
				<h2> {{ module.title }} </h2>
				{% endif %}
				
				{% if module.text %}
				<div class="ourProjectHeadertxt">
					{{ module.text }}
				</div>
				{% endif %}
			</div>
		<div class="projectsInner fullwidth">
			{% for item in module.add_project %}
				<div class="projectBox flex ffRowwrap alignCenter justCenter">
					<a href="{{ item.image.src }}" data-fancybox="{{ name }}" data-caption="{{ item.image.alt }}" class="search"><i class="tm-axacus-icon-search"></i></a>
					<span>
						{% set href = item.link.url.href %}
						{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
						{% set href = "mailto:" + href %}
						{% endif %}
						{% if item.title %}<h5><a href="{{ href }}" {% if item.link.open_in_new_tab %}target="_blank"{% endif %} {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}>{{ item.title }}</a></h5>{% endif %}
						{% if item.text %}
							<div class="projectTags">
								{{ item.text }}
							</div>
						{% endif %}
				  </span>
					<a class="inLink" href="{{ href }}" {% if item.link.open_in_new_tab %}target="_blank"{% endif %} {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}><i class="tm-axacus-icon-shuffle-1"></i></a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>


{% require_css %}
<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{# #hs_cos_wrapper_{{ name }} .smpHeader h6{ color: {{ module.sub_title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .smpHeader h2{ color: {{ module.title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .ourProjectHeadertxt { color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); } #}
	
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
	#hs_cos_wrapper_{{ name }} .projectBox:after, #hs_cos_wrapper_{{ name }} .projectBox:before { background-color:rgba({{ module.project_box_overlay_color.color|convert_rgb }},{% if module.project_box_overlay_color.opacity == "100" %} 1{% else %} 0.{{ module.project_box_overlay_color.opacity }}{% endif %}); }
	
	{% for item in module.add_project %}
	#hs_cos_wrapper_{{ name }} .projectBox:nth-child({{ loop.index }}) { background:url({{ item.image.src }}) no-repeat center top/cover; }
	{% endfor %}
</style>
{% end_require_css %}



