<div class="fullwidth cstdy-CtaSection sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth cstdy-CtaInner">
			<div class="cstdy-Ctabtn">
						{% for item in module.button_group %}
							<div class="cstdy-Ctabtns {{ item.button_options }}">
							{% set href = item.button_link.url.href %}
							{% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
							{% set href = "mailto:" + href %}
							{% endif %}
							<a href="{{ href }}"
								{% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
								{% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
								>
								{{ item.button_text }}
							</a>
				    </div>
						{% endfor %}
					  </div>
			{% if module.add_prev_next_button %}
			<div class="cstdy-btmbtns">
				{% for item in module.next_prev_button %}
				<div class="cstdy-btmbtn">
					{% set href = item.button_link.url.href %}
					{% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
					{% set href = "mailto:" + href %}
					{% endif %}
					<a href="{{ href }}"
						{% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
						{% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
						>
					{{ item.button_text }}
					</a>
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{% for item in module.next_prev_button %}
	#hs_cos_wrapper_{{ name }} .cstdy-btmbtn:nth-child({{ loop.index }}) a{ border-color: rgba({{ item.border_color.color|convert_rgb }},{{ item.border_color.opacity / 100 }}); color: rgba({{ item.text_color.color|convert_rgb }},{{ item.text_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .cstdy-btmbtn:nth-child({{ loop.index }}) a:hover{ background-color: rgba({{ item.hover_background_color.color|convert_rgb }},{{ item.hover_background_color.opacity / 100 }}); border-color: rgba({{ item.hover_background_color.color|convert_rgb }},{{ item.hover_background_color.opacity / 100 }}); color: rgba({{ item.hover_text_color.color|convert_rgb }},{{ item.hover_text_color.opacity / 100 }}); }
	{% endfor %}
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>