	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/09/2020 03:52
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("https://2720327.fs1.hubspotusercontent-na1.net/hubfs/2720327/Assets%20-%20Axacus/fonts/Flaticon.eot");
  src: url("https://2720327.fs1.hubspotusercontent-na1.net/hubfs/2720327/Assets%20-%20Axacus/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("https://2720327.fs1.hubspotusercontent-na1.net/hubfs/2720327/Assets%20-%20Axacus/fonts/Flaticon.woff2") format("woff2"),
       url("https://2720327.fs1.hubspotusercontent-na1.net/hubfs/2720327/Assets%20-%20Axacus/fonts/Flaticon.woff") format("woff"),
       url("https://2720327.fs1.hubspotusercontent-na1.net/hubfs/2720327/Assets%20-%20Axacus/fonts/Flaticon.ttf") format("truetype"),
       url("https://2720327.fs1.hubspotusercontent-na1.net/hubfs/2720327/Assets%20-%20Axacus/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-idea:before { content: "\f100"; }
.flaticon-idea-1:before { content: "\f101"; }
.flaticon-website:before { content: "\f102"; }
.flaticon-bussiness-man:before { content: "\f103"; }
.flaticon-briefcase:before { content: "\f104"; }
.flaticon-charts:before { content: "\f105"; }
.flaticon-maintenance:before { content: "\f106"; }
.flaticon-bussiness:before { content: "\f107"; }
.flaticon-bussiness-man-1:before { content: "\f108"; }
.flaticon-employee:before { content: "\f109"; }
.flaticon-business-man:before { content: "\f10a"; }
.flaticon-list:before { content: "\f10b"; }
.flaticon-salary:before { content: "\f10c"; }
.flaticon-handshake:before { content: "\f10d"; }
.flaticon-idea-2:before { content: "\f10e"; }
.flaticon-idea-3:before { content: "\f10f"; }
.flaticon-website-1:before { content: "\f110"; }
.flaticon-money:before { content: "\f111"; }
.flaticon-analytics:before { content: "\f112"; }
.flaticon-opportunity:before { content: "\f113"; }
.flaticon-investment:before { content: "\f114"; }
.flaticon-document:before { content: "\f115"; }
.flaticon-director:before { content: "\f116"; }
.flaticon-teamwork:before { content: "\f117"; }
.flaticon-responsibility:before { content: "\f118"; }
.flaticon-marketing:before { content: "\f119"; }
.flaticon-idea-4:before { content: "\f11a"; }
.flaticon-management:before { content: "\f11b"; }
.flaticon-outsorcing:before { content: "\f11c"; }
.flaticon-organization:before { content: "\f11d"; }
.flaticon-presentation:before { content: "\f11e"; }
.flaticon-meeting:before { content: "\f11f"; }
.flaticon-briefcase-1:before { content: "\f120"; }
.flaticon-segments:before { content: "\f121"; }
.flaticon-corporate:before { content: "\f122"; }
.flaticon-chat:before { content: "\f123"; }
.flaticon-analysis:before { content: "\f124"; }
.flaticon-corporate-1:before { content: "\f125"; }
.flaticon-copyright:before { content: "\f126"; }
.flaticon-behaviour:before { content: "\f127"; }
.flaticon-teamwork-1:before { content: "\f128"; }
.flaticon-corporate-2:before { content: "\f129"; }
.flaticon-team:before { content: "\f12a"; }
.flaticon-corporate-3:before { content: "\f12b"; }
.flaticon-call:before { content: "\f12c"; }
.flaticon-telephone:before { content: "\f12d"; }
.flaticon-envelope:before { content: "\f12e"; }
.flaticon-email:before { content: "\f12f"; }
.flaticon-email-1:before { content: "\f130"; }
.flaticon-mail:before { content: "\f131"; }
.flaticon-location:before { content: "\f132"; }
.flaticon-pin:before { content: "\f133"; }
.flaticon-play:before { content: "\f134"; }
.flaticon-play-button:before { content: "\f135"; }