<div class="fullwidth faqSec pddng30">
 <div class="fullwidth faqOuter sec-padding sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="faq-imgsec" style="{{ module.style.background_image.css }}; background-repeat:  no-repeat;">
		
	 </div>
	 <div class="wrapper">
	 <div class="fullwidth faqInner"> {#  style="background-color: rgba({{ module.background_color.color|convert_rgb }},{{ module.background_color.opacity / 100 }});" #}
	 		<div class="faqHeader">
				<div class="faqHdrSubttl"> {{ module.sub_title }} </div>
				<h2> {{ module.title }} </h2>
		  </div>
		  <div class="faqRow">
				{% for item in module.faq_group %}
				<div class="faqCls faqCls{{ loop.index }}">
					<div class="faqClsttl">
            <div class="faqClsbox"></div>{{ item.title }}</div>
					<div class="faqClstxt">{{ item.text }}</div>
          
				</div>
				{% endfor %}
		 </div>
	 </div>
	</div>
 </div>
</div>
<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{# #hs_cos_wrapper_{{ name }} .faqHeader .faqHdrSubttl { color: rgba({{ module.sub_title_color.color|convert_rgb }},{{ module.sub_title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .faqHeader h2 { color: rgba({{ module.title_color.color|convert_rgb }},{{ module.title_color.opacity / 100 }}); } 
	
	{% for item in module.faq_group %}
	
	#hs_cos_wrapper_{{ name }} .faqCls{{ loop.index }} .faqClstxt{ color: rgba({{ item.text_color.color|convert_rgb }},{{ item.text_color.opacity / 100 }}); }
	
	
	{% endfor %} #}
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>