<div class="prcngSec sec-padding fullwidth sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth prcngInner">
			<div class="fullwidth prcngHeader smpHeader {% if module.header_text_center %} text-center {% endif %}">
				{% if module.sub_title %}
				<h6> {{ module.sub_title }} </h6>
				{% endif %}
				
				{% if module.title %}
				<h2> {{ module.title }} </h2>
				{% endif %}
				
				{% if module.text %}
				<div class="prcngHeadertxt smpHeaderTxt">
					{{ module.text }}
				</div>
				{% endif %}
			</div>
			<div class="fullwidth prcngRow">
				{% for item in module.pricing_group %}
				<div class="prcngCls prcngCls{{ loop.index }}">
				{% if item.most_popular_text %}
					<div class="prcng-mstplr">
						 <i class="fa fa-star"></i> {{ item.most_popular_text }}
				  </div>
					{% endif %}
					<div class="prcngCInnr">
						<h3>
							{{ item.title }}
						</h3>
						<div class="prcngCtxt">
							{{ item.text }}
						</div>
						<div class="prcprice">
							<span class="pricnum">{{ item.price_text }}</span>
							<span class="prictxt">{{ item.per_month_text }}</span>
						</div>
						<div class="priclist">
							<ul>
								{% for item2 in item.list_group %}
								<li>{{ item2.list_text }}</li>
								{% endfor %}
							</ul>
						</div>
						<div class="{{ item.button_options }} prcngbtn">
							{% set href = item.button_link.url.href %}
							{% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
							{% set href = "mailto:" + href %}
							{% endif %}
							<a href="{{ href }}"
								{% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
								{% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
								>
								{{ item.button_text }}
							</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{# #hs_cos_wrapper_{{ name }} .smpHeader h6{ color: {{ module.sub_title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .smpHeader h2{ color: {{ module.title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .smpHeaderTxt{ color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); } #}
	
	{% for item in module.pricing_group %}
	  
	  #hs_cos_wrapper_{{ name }} .prcngCls{{ loop.index }} { background-color: rgba({{ item.background_color.color|convert_rgb }},{{ item.background_color.opacity / 100 }}); } 
	  #hs_cos_wrapper_{{ name }} .prcngCls{{ loop.index }} > h3 { color: rgba({{ item.title_color.color|convert_rgb }},{{ item.title_color.opacity / 100 }}); }
	  #hs_cos_wrapper_{{ name }} .prcngCls{{ loop.index }} .prcngCtxt{ color: rgba({{ item.text_color.color|convert_rgb }},{{ item.text_color.opacity / 100 }}); }
	  #hs_cos_wrapper_{{ name }} .prcngCls{{ loop.index }} .pricnum { color: rgba({{ item.price_text_color.color|convert_rgb }},{{ item.price_text_color.opacity / 100 }}); }
	  #hs_cos_wrapper_{{ name }} .prcngCls{{ loop.index }} .prictxt { color: rgba({{ item.per_month_color.color|convert_rgb }},{{ item.per_month_color.opacity / 100 }}); }
	  #hs_cos_wrapper_{{ name }} .prcngCls{{ loop.index }} .prcng-mstplr{ color: rgba({{ item.most_popular_title_color.color|convert_rgb }},{{ item.most_popular_title_color.opacity / 100 }}); background-color: rgba({{ item.most_popular_title_background_color.color|convert_rgb }},{{ item.most_popular_title_background_color.opacity / 100 }}); }
	  
	  {% set num = loop.index %}
	  {% for item2 in item.list_group %} 
	   
	   #hs_cos_wrapper_{{ name }} .prcngCls:nth-child({{ num }}) .priclist ul li:nth-child({{ loop.index }}) { color: rgba({{ item2.list_text_color.color|convert_rgb }},{{ item2.list_text_color.opacity / 100 }}); }	   
	 
	  {% endfor %}
	  
	{% endfor %}
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>