<div class="fullwidth news-crnSec sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth news-crnInner">
			<div class="fullwidth news-crnHeader smpHeader {% if module.header_text_center %} text-center {% endif %}">
				{% if module.sub_title %}
				<h6> {{ module.sub_title }} </h6>
				{% endif %}
				
				{% if module.title %}
				<h2> {{ module.title }} </h2>
				{% endif %}
				
				{% if module.text %}
				<div class="news-crnHeadertxt smpHeaderTxt">
					{{ module.text }}
				</div>
				{% endif %}
				
			</div>
			<div class="fullwidth news-crnRow">
			 <div class="news-crnlft">
				{% set rec_posts = blog_recent_posts(module.blog, module.number_of_post) %}
        {% for rec_post in rec_posts %}
				<div class="news-crnlftCls news-crnlftCls{{ loop.index }}">
					<div class="insightfeature">
					<div class="insightfimg">
					</div>
					</div>
						<div class="insightCntent">
							{% if rec_post.tag_list %}
								<div class="insight-tags">
									{% for tag in rec_post.tag_list %}
										<a href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>{% if !loop.last %}<span> </span>{% endif %}
									{% endfor %}
								</div>
							{% endif %}
							<h4 class="post-title"><a href="{{ rec_post.absolute_url }}">{{ rec_post.name }}</a></h4>
							<div class="insightauthr">
								<div class="insightcmmnt">
									<a class="insight-comment-lnk" href=""><i class="tm-axacus-icon-comment-3"></i>0 Comments</a>
								</div>
								{% if rec_post.blog_author %}
								<div class="insight-author">
									
									<a class="insight-author-name" href="{{ blog_author_url(group.id, rec_post.blog_post_author.slug) }}"><i class="fa fa-user"></i> {{ rec_post.blog_author.display_name }}</a>
								</div>
							{% endif %}
							</div>
							
					  </div>
				</div>
				{% endfor %}
			 </div>
				<div class="news-crnRght">
					{% for item in module.accordion_group %}
			  	  <div class="news-crnRcls news-crnRcls{{ loop.index }}">
					<h4>
						{{ item.accordion_title }}
						<span></span>
					</h4>
					<div class="ews-crnRctxt">
						{{ item.accordion_text }}
					</div>
				</div>
					{% endfor %}
			</div>
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{# #hs_cos_wrapper_{{ name }} .smpHeader h6 { color: rgba({{ module.sub_title_color.color|convert_rgb }},{{ module.sub_title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .smpHeader h2 { color: rgba({{ module.title_color.color|convert_rgb }},{{ module.title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .smpHeaderTxt { color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); } #}
	
	 {% for rec_post in rec_posts %}
	#hs_cos_wrapper_{{ name }} .news-crnlftCls{{ loop.index }} .insightfimg { background-image: url({{ rec_post.featured_image }}); }
	{% endfor %}
	
	{% for item in module.accordion_group %}
	
	  #hs_cos_wrapper_{{ name }} .news-crnRcls{{ loop.index }} .ews-crnRctxt{ color: rgba({{ item.text_color.color|convert_rgb }},{{ item.text_color.opacity / 100 }}); }
	
	{% endfor %}
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>