<div class="fullwidth goalsccSec pddng30 animSec">
	<div class="goalsccOuter sec-padding fullwidth sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth goalsccInner">
			<div class="goalscLeft">
				{% if module.image.src %}
				{% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
				{% if module.image.size_type == 'auto' %}
				{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
				{% elif module.image.size_type == 'auto_custom_max' %}
				{% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}" style="max-width: 100%; height: auto;"' %}
				{% endif %}
				{% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
				<img src="{{ module.image.src }}" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
			  {% endif %}
			</div>
			<div class="goalscRight">
				<div class="goalscHeader smpHeader">
				{% if module.sub_title %}
				<h6> {{ module.sub_title }} </h6>
				{% endif %}
				
				{% if module.title %}
				<h2> {{ module.title }} </h2>
				{% endif %}
				
				{% if module.text %}
				<div class="goalscHeadertxt">
					{{ module.text }}
				</div>
				{% endif %}
				
			</div>
				<div class="goalscRow">
					{% for item in module.percentage_group %}
					<div class="goalscls goalscls{{ loop.index }}">
						<div class="goalsclsInnr">
						<div class="goalsclstxt">	{{ item.column_text }} </div>
						<div class="goalsclsPrctng">
							<span class="goalsclsnumbr">{{ item.percentage_number }}</span><span class="goalsclsntxt">{{ item.percentage_text }}</span>
						</div>
							<div class="goalsclsLine" data-progress="{{ item.percentage_number }}" style="width:0;">
							</div>
					 </div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
 </div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	#hs_cos_wrapper_{{ name }} .smpHeader h6 { color: rgba({{ module.sub_title_color.color|convert_rgb }},{{ module.sub_title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .smpHeader h2 { color: rgba({{ module.title_color.color|convert_rgb }},{{ module.title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .goalscHeadertxt { color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); }
	
	{# {% for item in module.percentage_group %}
	 #hs_cos_wrapper_{{ name }} .goalscls{{ loop.index }} .goalsclstxt { color: rgba({{ item.title_color.color|convert_rgb }},{{ item.title_color.opacity / 100 }}); }
	 #hs_cos_wrapper_{{ name }} .goalscls{{ loop.index }} .goalsclsPrctng{ color: rgba({{ item.title_color.color|convert_rgb }},{{ item.title_color.opacity / 100 }}); }
	 #hs_cos_wrapper_{{ name }} .goalscls{{ loop.index }} .goalsclsLine{ background-color: rgba({{ item.progress_bar_color.color|convert_rgb }},{{ item.progress_bar_color.opacity / 100 }}); }
	{% endfor %} #}
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>