{% if module.add_border_radius_ %}
<div class="fullwidth pddng30">
{% endif %}
<div class="fullwidth sec-padding {% if module.add_border_radius_ %} wrkprbrd {% endif %} wrkprcSec sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth wrkprcInner">
			<div class="fullwidth wrkprcHeader smpHeader {% if module.header_text_center %} text-center {% endif %}">
				{% if module.sub_title %}
				<h6> {{ module.sub_title }} </h6>
				{% endif %}
				
				{% if module.title %}
				<h2> {{ module.title }} </h2>
				{% endif %}
				
				{% if module.text %}
				<div class="wrkprcHeadertxt smpHeaderTxt">
					{{ module.text }}
				</div>
				{% endif %}
				
			</div>
			<div class="fullwidth wrkprcRow">
				{% for item in module.column_group %}
				<div class="wrkprcCls wrkprcCls{{ loop.index }}">
					<div class="wrkprcClsimg">
						<div class="wrkprCntnum"></div>
						<div class="wrkprCbtmrund"></div>
						<div class="wrkprCicon">
							{% if item.image_or_icon_code == 'image' %}
						  {% if item.image.src %}
							{% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
							{% if item.image.size_type == 'auto' %}
							{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
							{% elif item.image.size_type == 'auto_custom_max' %}
							{% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
							{% endif %}
							{% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
							<img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
						  {% endif %}
							{% elif item.image_or_icon_code == 'icon' %}
							{{ item.icon }}
							{% endif %}
						</div>
					</div>
					<div class="wrkprcCntn">
					<h4> {{ item.title }}</h4>
					<div class="wrkprcCtxt">{{ item.text }}</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% if module.add_border_radius_ %}
</div>
{% endif %}
<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{# #hs_cos_wrapper_{{ name }} .smpHeader h6 { color: rgba({{ module.sub_title_color.color|convert_rgb }},{{ module.sub_title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .smpHeader h2 { color: rgba({{ module.title_color.color|convert_rgb }},{{ module.title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .smpHeaderTxt { color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); } #}
	
	{% for item in module.column_group %}
	 #hs_cos_wrapper_{{ name }} .wrkprcCls{{ loop.index }} .wrkprcCntn h4 { color: rgba({{ item.title_color.color|convert_rgb }},{{ item.title_color.opacity / 100 }}); }
	 #hs_cos_wrapper_{{ name }} .wrkprcCls{{ loop.index }} .wrkprcCtxt { color: rgba({{ item.text_color.color|convert_rgb }},{{ item.text_color.opacity / 100 }} ); }
	
	{% endfor %}
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>