<div class="whatwdSec sec-padding {% if module.add_header_overlay_ %} whatwdHeaderOvrlay {% endif %} fullwidth sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth whatwdInner">
			<div class="fullwidth whatwdHeader smpHeader {% if module.header_text_center %} text-center {% endif %}">
				{% if module.sub_title %}
				<h6> {{ module.sub_title }} </h6>
				{% endif %}
				
				{% if module.title %}
				<h2> {{ module.title }} </h2>
				{% endif %}
				
				{% if module.text %}
				<div class="whatwdHeadertxt smpHeaderTxt">
					{{ module.text }}
				</div>
				{% endif %}
				
			</div>
			<div class="fullwidth whatwdRow">
				{% for item in module.column %}
				<div class="whatwdcls whatwdcls{{ loop.index }}">
					<div class="whatwdcls-tg">
						{{ item.sub_title }}
					</div>
					<h4>
						{% set href = item.link.url.href %}
							{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
							{% set href = "mailto:" + href %}
							{% endif %}
							<a href="{{ href }}"
								{% if item.link.open_in_new_tab %}target="_blank"{% endif %}
								{% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
								>
						    {{ item.title }}
						  </a>
					</h4>
					<div class="whatwdcls-Incnt">
						<div class="whatwdcls-bgimg">
							
						</div>
						<div class="whatwdcls-Incntxt">
							{{ item.text }}
							{% set href = item.link.url.href %}
							{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
							{% set href = "mailto:" + href %}
							{% endif %}
							<a href="{{ href }}"
								{% if item.link.open_in_new_tab %}target="_blank"{% endif %}
								{% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
								>
								{{ item.button_text }}
							</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% if module.add_view_all_services_ %}
			<div class="fullwidth {% if module.add_text_lines_ %} whatwdCta {% else %} whatwdnrmlcta {% endif %} ">
				<div class="whatwdCta-txt text-center">
					{{ module.view_all_services_text }}
				</div>
			</div>
			{% endif %}
			{% if module.add_logo_slider_ %}
			<div class="fullwidth whatwdLogouter">
			<div class="fullwidth whatwdLogos">
				{% for item in module.logo_group %}
				<div class="fullwidth whatwdLogo whwdlogo{{ loop.index }}">
					{% if item.logo.src %}
					{% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}"' %}
					{% if item.logo.size_type == 'auto' %}
					{% set sizeAttrs = 'style="max-width: 100%; height: auto ; max-height: 100%;"' %}
					{% elif item.logo.size_type == 'auto_custom_max' %}
					{% set sizeAttrs = 'width="{{ item.logo.max_width }}" height="{{ item.logo.max_height }}" style="max-width: 100%; height: auto; max-height: 100%;"' %}
					{% endif %}
					{% set loadingAttr = item.logo.loading != 'disabled' ? 'loading="{{ item.logo.loading }}"' : '' %}
					<img src="{{ item.logo.src }}" alt="{{ item.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
				  {% endif %}
					<span class="whatwdLgtxt"><span class="whatwdLgovrfl">{{ item.logo_hover_text }}</span></span>
				</div>
				
				{% endfor %}
			</div>
		  </div>
			{% endif %}
	  </div>
	</div>
</div>

{% require_css %}
<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	
	{# #hs_cos_wrapper_{{ name }} .smpHeader h6{ color: {{ module.sub_title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .smpHeader h2{ color: {{ module.title_color.color }}; } #}
	#hs_cos_wrapper_{{ name }} .smpHeaderTxt { color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); } 
	
	#hs_cos_wrapper_{{ name }} .whatwdLogos { background-color: rgba({{ module.logo_background_color.color|convert_rgb }}, {{ module.logo_background_color.opacity / 100 }}); }
  {% for item in module.logo_group %}
	  #hs_cos_wrapper_{{ name }} .whwdlogo{{ loop.index }} .whatwdLgtxt:before { border-top-color: rgba({{ item.background_color.color|convert_rgb }},{% if item.background_color.opacity == "100" %}1{% else %} 0.{{ item.background_color.opacity }}{% endif %});}
	  #hs_cos_wrapper_{{ name }} .whwdlogo{{ loop.index }} .whatwdLgtxt { background-color: rgba({{ item.background_color.color|convert_rgb }}, {{ item.background_color.opacity / 100 }}); color: {{ item.text_color.color }}; }
	{% endfor %}
	
	{% if module.add_header_overlay_ %}
	#hs_cos_wrapper_{{ name }} .whatwdHeaderOvrlay:before { background-color: rgba({{ module.overlay_color.color|convert_rgb }},{{ module.overlay_color.opacity / 100 }});}
	{% endif %}
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{% for item in module.column %}
	  
	 #hs_cos_wrapper_{{ name }} .whatwdcls{{ loop.index }} { background-color: rgba({{ item.background_color.color|convert_rgb }}, {{ item.background_color.opacity / 100 }}); }
	 #hs_cos_wrapper_{{ name }} .whatwdcls{{ loop.index }} .whatwdcls-tg { color: {{ item.tag_color.color }}; }
	 #hs_cos_wrapper_{{ name }} .whatwdcls{{ loop.index }} h4 a { color: {{ item.title_color.color }}; }
	 #hs_cos_wrapper_{{ name }} .whatwdcls{{ loop.index }} .whatwdcls-bgimg { background-image: url({{ item.image.src }}); }
	 #hs_cos_wrapper_{{ name }} .whatwdcls{{ loop.index }} .whatwdcls-Incntxt{ color: rgba({{ item.hover_text_color.color|convert_rgb }}, {{ item.hover_text_color.opacity / 100 }}); background-color: rgba({{ item.hover_background_color.color|convert_rgb }}, {{ item.hover_background_color.opacity / 100 }}); }
	 #hs_cos_wrapper_{{ name }} .whatwdcls{{ loop.index }} .whatwdcls-Incntxt a { color: rgba({{ item.hover_text_color.color|convert_rgb }}, {{ item.hover_text_color.opacity / 100 }}); }
	{% endfor %}
	
	#hs_cos_wrapper_{{ name }} .whatwdCta-txt { color: rgba({{ module.view_all_services_text_color.color|convert_rgb }},{{ module.view_all_services_text_color.opacity / 100 }}); }
	
	
	
	
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>
{% end_require_css %}