<div class="fullwidth teamSec sec-padding sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth teamInner">
			<div class="fullwidth teamHeader smpHeader {% if module.header_text_center %} text-center {% endif %}">
				{% if module.sub_title %}
				<h6> {{ module.sub_title }} </h6>
				{% endif %}
				
				{% if module.title %}
				<h2> {{ module.title }} </h2>
				{% endif %}
				
				{% if module.text %}
				<div class="teamHeadertxt smpHeaderTxt">
					{{ module.text }}
				</div>
				{% endif %}
				
			</div>
			<div class="fullwidth teamRow">
				{% for item in module.team_group %}
				<div class="teamCls teamCls{{ loop.index }}">
					<div class="teamClsinnnr"> </div>
					<div class="teamClsSclmd">
					  <ul>
							{% for item2 in item.social_media_group %}
						  <li>
								{% set href = item2.social_media_link.url.href %}
								{% if item2.social_media_link.url.type is equalto "EMAIL_ADDRESS" %}
								{% set href = "mailto:" + href %}
								{% endif %}
								<a href="{{ href }}"
									{% if item2.social_media_link.open_in_new_tab %}target="_blank"{% endif %}
									{% if item2.social_media_link.rel %}rel="{{ item2.social_media_link.rel }}"{% endif %}
									>
									{% icon
										name="{{ item2.social_media_icon.name }}"
										style="{{ item2.social_media_icon.type }}"
										unicode="{{ item2.social_media_icon.unicode }}"
										icon_set="{{ item2.social_media_icon.icon_set }}"
									%}
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="teamClsImg box-shadw">
					  
					</div>
					<div class="teamClsCnt">
						<h4>
							{% set href = item.link.url.href %}
							{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
							{% set href = "mailto:" + href %}
							{% endif %}
							<a href="{{ href }}"
								{% if item.link.open_in_new_tab %}target="_blank"{% endif %}
								{% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
								>
								{{ item.team_name }}
							</a>
						</h4>
						<span style="display:block;">{{ item.team_designation }}</span>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% require_css %}
<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{# #hs_cos_wrapper_{{ name }} .smpHeader h6 { color: rgba({{ module.sub_title_color.color|convert_rgb }},{{ module.sub_title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .smpHeader h2 { color: rgba({{ module.title_color.color|convert_rgb }},{{ module.title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .smpHeaderTxt { color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); } #}
	
	{% for item in module.team_group %}
	  
	  #hs_cos_wrapper_{{ name }} .teamCls{{ loop.index }} .teamClsImg{ background-image: url({{ item.image.src }}); }
	  #hs_cos_wrapper_{{ name }} .teamCls{{ loop.index }} .teamClsCnt > h4 { color: rgba({{ item.team_name_color.color|convert_rgb }}, {{ item.team_name_color.opacity / 100 }}); }
	  #hs_cos_wrapper_{{ name }} .teamCls{{ loop.index }} .teamClsCnt > span { color:rgba({{ item.team_designation_color.color|convert_rgb }},{{ item.team_designation_color.opacity / 100 }}); }
	
	{% endfor %}
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>
{% end_require_css %}