<div class="fullwidth sec-padding contctus-Sec sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth contctus-Inner">
			<div class="fullwidth contctusHeader smpHeader {% if module.header_text_center %} text-center {% endif %}">
				{% if module.sub_title %}
				<h6> {{ module.sub_title }} </h6>
				{% endif %}
				
				{% if module.title %}
				<h2> {{ module.title }} </h2>
				{% endif %}
				
				{% if module.text %}
				<div class="contctusHeadertxt smpHeaderTxt">
					{{ module.text }}
				</div>
				{% endif %}
				
			</div>
			<div class="fullwidth contctusRow">
				<div class="contctusLft">
				<div class="contctusLftimg">
					{% if module.image.src %}
					{% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
					{% if module.image.size_type == 'auto' %}
					{% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}" style="max-width: 100%; height: auto;"' %}
					{% elif module.image.size_type == 'auto_custom_max' %}
					{% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}" style="max-width: 100%; height: auto;"' %}
					{% endif %}
					{% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
					<img src="{{ module.image.src }}" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
				  {% endif %}
				 </div>
					<div class="contctusLRow">
						{% for item in module.column_group %}
						<div class="contctusLcls contctusLcls{{ loop.index }}">
							<div class="contctusLclicn">
								{{ item.icon_code }}
							</div>
							<div class="contctusLclnt">
							<h4> {{ item.title }} </h4>	
							<div class="contcttxt">
								{{ item.text }}
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
			  </div>
				<div class="contctusRight">
				  {% form
						form_to_use="{{ module.form.form_id }}"
						response_response_type="{{ module.form.response_type }}"
						response_message="{{ module.form.message }}"
						response_redirect_id="{{ module.form.redirect_id }}"
						response_redirect_url="{{module.form.redirect_url}}"
						gotowebinar_webinar_key="{{ module.form.gotowebinar_webinar_key }}"
					%}
			  </div>
			</div>
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{# #hs_cos_wrapper_{{ name }} .smpHeader h6 { color: {{ module.sub_title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .smpHeader h2 { color: {{ module.title_color.color }}; } #}
	
	{# {% for item in module.column_group %}
	#hs_cos_wrapper_{{ name }} .contctusLcls{{ loop.index }} .contctusLclicn { background-color: rgba({{ item.icon_background_color.color|convert_rgb }} , {{ item.icon_background_color.opacity / 100 }}); color: rgba({{ item.icon_color.color|convert_rgb }},{{ item.icon_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .contctusLcls{{ loop.index }} .contctusLclnt h4 { color: rgba({{ item.title_color.color|convert_rgb }},{{ item.title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .contctusLcls{{ loop.index }} .contcttxt { color: rgba({{ item.text_color.color|convert_rgb }},{{ item.text_color.opacity / 100 }}); }
	
	{% endfor %}  #}
	
	{# #hs_cos_wrapper_{{ name }} .contctusRight{ background-color: rgba({{ module.form_background_color.color|convert_rgb }},{{ module.form_background_color.opacity / 100 }}); } #}
	
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>