<div class="fullwidth getintouch-Sec sec-backgrnd sidebar-sec">
		<div class="fullwidth getintouch-Inner">
			<div class="fullwidth getintouch-Header">
			  <h3 syle="color: rgba({{ module.title_color.color|convert_rgb }},{{ module.title_color.opacity / 100 }});"> {{ module.title }} </h3>
		  </div>
			<div class="fullwidth getintouch-Row">
				<ul class="getintouch-cls">
					<li>
						{{ module.address_icon }}
						<span>{{ module.address_text }}</span>
					</li>
					<li>
						{% set href = module.email_link.url.href %}
						{% if module.email_link.url.type is equalto "EMAIL_ADDRESS" %}
						{% set href = "mailto:" + href %}
						{% endif %}
						<a href="{{ href }}"
							{% if module.email_link.open_in_new_tab %}target="_blank"{% endif %}
							{% if module.email_link.rel %}rel="{{ module.email_link.rel }}"{% endif %}
							>
							{{ module.email_icon }}
							<span>{{ module.email_text }}</span>
						</a>
					</li>
          <li>
						{% set href = module.contact_link.url.href %}
						{% if module.contact_link.url.type is equalto "EMAIL_ADDRESS" %}
						{% set href = "mailto:" + href %}
						{% endif %}
						<a href="{{ href }}"
							{% if module.contact_link.open_in_new_tab %}target="_blank"{% endif %}
							{% if module.contact_link.rel %}rel="{{ module.contact_link.rel }}"{% endif %}
							>
						{{ module.contact_icon }}
							<span>{{ module.contact_text }}</span>
						</a>
					</li>
					<li>
						{{ module.time_icon }}
						<span>{{ module.time_text }}</span>
					</li>
				</ul>
			</div>
		</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	
	@media(max-width: 991px){
		
		
	}
	
	@media(max-width: 767px){
		
		
	}
	
</style>