<div class="fullwidth blg-ctaimg-Sec sec-backgrnd ">
		<div class="fullwidth blg-ctaimg-Inner">
			<div class="fullwidth blg-ctaimg-Header">
			  <h3> {{ module.title }} </h3>
		    <div class="blg-cta-Hdrtxt">
					{{ module.text }}
				</div>
				<div class="blg-cta-Hdrbtn">
					{% set href = module.read_more_link.url.href %}
					{% if module.read_more_link.url.type is equalto "EMAIL_ADDRESS" %}
					{% set href = "mailto:" + href %}
					{% endif %}
					<a href="{{ href }}"
						{% if module.read_more_link.open_in_new_tab %}target="_blank"{% endif %}
						{% if module.read_more_link.rel %}rel="{{ module.read_more_link.rel }}"{% endif %}
						>
					{{ module.read_more_text }}
					</a>
				</div>
			</div>
		</div>
</div>

{% require_css %}
<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	
	{# #hs_cos_wrapper_{{ name }} .blg-ctaimg-Header h3{ color: rgba({{ module.title_color.color|convert_rgb }},{{ module.title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .blg-cta-Hdrtxt { color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); } #}
	
</style>
{% end_require_css %}