<div class="busnprfmncSec sec-padding fullwidth sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="busnprfmncInner fullwidth">
			<div class="busnprfmncLeft" style="background-image: url({{ module.image.src }});">
				
			</div>
			<div class="busnprfmncRight smpHeader">
				{% if module.sub_title %}
				<h6> {{ module.sub_title }} </h6>
				{% endif %}
				{% if module.title %}
				<h2> {{ module.title }} </h2>
				{% endif %}
				{% if module.text %}
				<div class="smpHeaderTxt">
					{{ module.text }}
				</div>
				{% endif %}
				<div class="busnprcRgrw">
					{% for item in module.list_group %}
					<div class="busnprcRCls busnprcRCls{{ loop.index }}">
						<div class="busnprcRCtp">
							{% if item.image_or_icon == 'image' %}
							<div class="busnpicon">
								{% if item.image.src %}
								{% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
								{% if item.image.size_type == 'auto' %}
								{% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}" style="max-width: 100%; height: auto;"' %}
								{% elif item.image.size_type == 'auto_custom_max' %}
								{% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
								{% endif %}
								{% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
								<img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
							  {% endif %}
							</div>
							{% elif item.image_or_icon == 'icon' %}
							<div class="busnpicon">
								{{ item.icon_text }}
							</div>
							{% endif %}
							<h4>
								{{ item.title }}
							</h4>
						</div>
						<div class="busnprcRCtxt">
							{{ item.text }}
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="busnprcRbtns">
				{% for item in module.button_group %}
				 <div class="busnprcRbtn {{ item.button_options }}">
					{% set href = item.button_link.url.href %}
					{% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
					{% set href = "mailto:" + href %}
					{% endif %}
					<a href="{{ href }}"
						{% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
						{% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
					>
						{{ item.button_text }}
					</a>
				 </div>
        {% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	{# #hs_cos_wrapper_{{ name }} .smpHeader { background-color: rgba({{ module.background_color.color|convert_rgb }},{{ module.background_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .smpHeader h6 { color: {{ module.sub_title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .smpHeader h2 { color: {{ module.title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .smpHeaderTxt { color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); } #}
	
	
	
	#hs_cos_wrapper_{{ name }} .busnprfmncRight:after { background-color: rgba({{ module.background_color.color|convert_rgb }},{{ module.background_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .busnprfmncRight:before { background-color: rgba({{ module.background_color.color|convert_rgb }},{{ module.background_color.opacity / 100 }}); }
	
	{% for item in module.list_group %}
	#hs_cos_wrapper_{{ name }} .busnprcRCls{{ loop.index }} .busnpicon { color: rgba({{ item.icon_color.color|convert_rgb }},{{ item.icon_color.opacity / 100 }}); }
	{# #hs_cos_wrapper_{{ name }} .busnprcRCls{{ loop.index }} h4 { color: rgba({{ item.title_color.color|convert_rgb }},{{ item.title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .busnprcRCls{{ loop.index }} .busnprcRCtxt{ color:rgba({{ item.text_color.color|convert_rgb }},{{ item.text_color.opacity / 100 }}); } #}
	
	{% endfor %}
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>