<div class="fullwidth cstd-DetailSec sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth cstd-DtlInner">
			<div class="fullwidth cstdHeader smpHeader {% if module.header_text_center %} text-center {% endif %}">
				{% if module.sub_title %}
				<h6> {{ module.sub_title }} </h6>
				{% endif %}
				
				{% if module.title %}
				<h2> {{ module.title }} </h2>
				{% endif %}
				
				{% if module.text %}
				<div class="cstdHeadertxt">
					{{ module.text }}
				</div>
				{% endif %}
			</div>
			<div class="fullwidth cstdRow">
				{% for item in module.image_group %}
				<div class="cstdcls" style="background-image: url({{ item.image.src }});">
					
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{# #hs_cos_wrapper_{{ name }} .smpHeader h6{ color: {{ module.sub_title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .smpHeader h2{ color: {{ module.title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .cstdHeadertxt { color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); } #}
	
	
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>