<div class="fullwidth sec-padding weofferSec sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth weofferInner">
			<div class="fullwidth weofferHeader smpHeader {% if module.header_text_center %} text-center {% endif %}">
				{% if module.sub_title %}
				<h6> {{ module.sub_title }} </h6>
				{% endif %}
				
				{% if module.title %}
				<h2> {{ module.title }} </h2>
				{% endif %}
				
				{% if module.text %}
				<div class="weofferHeadertxt smpHeaderTxt">
					{{ module.text }}
				</div>
				{% endif %}
			</div>
			<div class="fullwidth weofferRow">
				{% for item in module.column_group %}
				<div class="weoffercls weoffercls{{ loop.index }}">
					<div class="weofferclsoimg">
					<div class="weoffercImage">
					{% if item.image_or_icon_code == 'image' %}
						{% if item.image.src %}
						{% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
						{% if item.image.size_type == 'auto' %}
						{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
						{% elif item.image.size_type == 'auto_custom_max' %}
						{% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
						{% endif %}
						{% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
						<img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
					  {% endif %}
					{% elif item.image_or_icon_code == 'icon' %}
						{{ item.icon_code }}
					{% endif %}
				</div>
					</div>
					<div class="weofferclcnt">
					<h4>
						{{ item.title }}
					</h4>
					<div class="weoffercText">
					{{ item.text }}
				</div>
				<div class="weoffercbtn">
						{% set href = item.read_more_link.url.href %}
						{% if item.read_more_link.url.type is equalto "EMAIL_ADDRESS" %}
						{% set href = "mailto:" + href %}
						{% endif %}
						<a href="{{ href }}"
							{% if item.read_more_link.open_in_new_tab %}target="_blank"{% endif %}
							{% if item.read_more_link.rel %}rel="{{ item.read_more_link.rel }}"{% endif %}
							>
						{{ item.read_more_text }}
						</a>
				</div>
			  </div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{# #hs_cos_wrapper_{{ name }} .smpHeader h6{ color: {{ module.sub_title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .smpHeader h2{ color: {{ module.title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .smpHeaderTxt { color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); } #}
	
	
	
	
	{% for item in module.column_group %}
	#hs_cos_wrapper_{{ name }} .weoffercls:nth-child({{ loop.index }}):before { background-color: rgba({{ item.background_color.color|convert_rgb }},{{ item.background_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .weoffercls:nth-child({{ loop.index }}) .weoffercImage:before{ background-color: rgba({{ item.icon_background_color.color|convert_rgb }},{{ item.icon_background_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .weoffercls:nth-child({{ loop.index }}) .weoffercImage:after{ background-color: rgba({{ item.icon_background_color.color|convert_rgb }},{{ item.icon_background_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .weoffercls:nth-child({{ loop.index }}) .weoffercImage i { color: rgba({{ item.icon_color.color|convert_rgb }},{{ item.icon_color.opacity / 100 }});  }
	#hs_cos_wrapper_{{ name }} .weoffercls:nth-child({{ loop.index }}) .weoffercImage { background-color: rgba({{ item.icon_background_color.color|convert_rgb }},{{ item.icon_background_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .weoffercls:nth-child({{ loop.index }}) .weoffercbtn a { color: rgba({{ item.button_color.color|convert_rgb }},{{ item.button_color.opacity / 100 }});  }
	#hs_cos_wrapper_{{ name }} .weoffercls:nth-child({{ loop.index }}) .weoffercbtn a:hover { color: rgba({{ item.button_hover_color.color|convert_rgb }},{{ item.button_hover_color.opacity / 100 }});  }
  
	#hs_cos_wrapper_{{ name }} .weoffercls{{ loop.index }} { background-color: rgba({{ item.background_color.color|convert_rgb }},{{ item.background_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .weoffercls{{ loop.index }} .weofferclcnt h4 { color: rgba(	{{ item.title_color.color|convert_rgb }},{{ item.title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .weoffercls{{ loop.index }} .weoffercText { color: rgba(	{{ item.text_color.color|convert_rgb }},{{ item.text_color.opacity / 100 }}); }
	
	
	
	{% endfor %}
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>