<div class="fullwidth animSec whowerSec sec-padding sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth whowerInner">
			<div class="whowerRow">
				<div class="whowerLeft smpHeader">
						{% if module.sub_title %}
						<h6> {{ module.sub_title }} </h6>
						{% endif %}

						{% if module.title %}
						<h2> {{ module.title }} </h2>
						{% endif %}

						{% if module.text %}
						<div class="whowerHeadertxt">
							{{ module.text }}
						</div>
						{% endif %}
					  <div class="whowerHeaderbtn">
						{% for item in module.button_group %}
							<div class="whowbtns {{ item.button_options }}">
							{% set href = item.button_link.url.href %}
							{% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
							{% set href = "mailto:" + href %}
							{% endif %}
							<a href="{{ href }}"
								{% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
								{% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
								>
								{{ item.button_text }}
							</a>
				    </div>
						{% endfor %}
					  </div>
				</div>
				<div class="whowerRight">
					<div class="wcontRow">
						{% for item in module.counter_group %}
						<div class="wcontcls wcontcls{{ loop.index }}">
							<div class="wcontclsimg">
							  {% if item.image_or_icon_code == 'image' %}
								  {% if item.image.src %}
									{% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
									{% if item.image.size_type == 'auto' %}
									{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
									{% elif item.image.size_type == 'auto_custom_max' %}
									{% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
									{% endif %}
									{% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
									<img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
								  {% endif %}
								{% elif item.image_or_icon_code == 'icon' %}
								{{ item.icon_code }}
								{% endif %}
							</div>
							<h2 class="wcontclsnumr count-number timer" data-to="{{ item.counter_number }}" data-speed="2500"> {{ item.counter_number }} </h2>
							<div class="wcontclstxt"> {{ item.text }} </div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{# #hs_cos_wrapper_{{ name }} .smpHeader h6{ color: rgba({{ module.sub_title_color.color|convert_rgb }},{{ module.sub_title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .smpHeader h2{ color: rgba({{ module.title_color.color|convert_rgb }},{{ module.title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .whowerHeadertxt{ color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); } #}
	
	#hs_cos_wrapper_{{ name }} .whowerRight { background-image: url({{ module.right_image.src }}); }
	
	
	
	{% for item in module.counter_group %}
	
  #hs_cos_wrapper_{{ name }} .wcontcls{{ loop.index }} h2 { color: rgba({{ item.counter_color.color|convert_rgb }},{{ item.counter_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .wcontcls:nth-child({{ loop.index }}) .wcontclsimg i { color: rgba({{ item.counter_icon_color.color|convert_rgb }},{{ item.counter_icon_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .wcontcls{{ loop.index }} .wcontclstxt { color: rgba({{ item.text_color.color|convert_rgb }},{{ item.text_color.opacity / 100 }}); }
	{% endfor %}
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>